.card {
  border: 2px solid #222;
  border-radius: 5px;
  margin: .5rem;
  padding: 1rem;

  .title {
    margin-bottom: .5rem;
  }

  &.race,
  &.ballot {
    cursor: pointer;

    background-image: url("../Icons/keyboard_arrow_right-24px.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 2rem;

    &:hover {
      background-color: #bfb;
    }
  }
}

.flexColumn {
  display: flex;
  flex-direction: column;

  &.input {
    width: Max(25%, 15rem);
  }

  * {
    margin-bottom: .5rem;
  }
}

.srOnly {
  position: absolute;
  left: -5000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
