$borderRadius: 3px;

.main {
  max-width: 65%;
  margin: 3rem auto auto;
  border: 2px solid black;
  border-radius: $borderRadius;
}

.election {
  margin: 1rem;
}

.builder {
  border: 1px solid black;
  border-radius: $borderRadius;
  padding: 1rem;
  margin: .5rem 0;
}

.internalList {
  border: 1px solid black;
  border-radius: $borderRadius;
  margin-top: .5rem;
  padding: .5rem;

  span {
    font-size: 1.25rem;
  }
}
