$borderRadius: 3px;

.Builder {
  border: 1px solid black;
  border-radius: $borderRadius;
  padding: 1rem;
  margin: .5rem 0;

  &.Election {
    margin: 1rem;
    border: 2px solid black;
    border-radius: $borderRadius;
  }
}

.InternalList {
  border: 1px solid black;
  border-radius: $borderRadius;
  margin: .5rem 0;
  padding: .5rem;
}

.MultiButton {
  display: flex;

  button {
    margin-right: 1.5rem;
  }
}

.Collapse {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button.Image {
    border: none;
    background: inherit;
    cursor: pointer;
  }
}

.Collapsed {
  display: none;
}

.SubHeader {
  text-decoration: underline;
}

.SaveButton {
  text-align: center;

  button {
    font-size: 1.25rem;
  }
}
