$borderRadius: 3px;

.Builder {
  border: 1px solid black;
  border-radius: $borderRadius;
  padding: 1rem;
  margin: .5rem 0;

  &.Election {
    margin: 1rem;
    border: 2px solid black;
    border-radius: $borderRadius;
  }
}

.InternalList {
  border: 1px solid black;
  border-radius: $borderRadius;
  margin: .5rem 0;
  padding: .5rem;
}

.MultiButton {
  display: flex;

  button {
    margin-right: 1.5rem;
  }
}

.SplitWide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

button.Image {
  border: none;
  background: inherit;
  cursor: pointer;
}

.Collapsed {
  display: none;
}

.SubHeader {
  text-decoration: underline;
}

.SaveButton {
  text-align: center;

  button {
    font-size: 1.25rem;
  }
}

.DeleteModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, .9);
  display: flex;
  flex-direction: column;

  div.ModalContents {
    background: #888;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;

    button {
      margin: 0 1rem;
      cursor: pointer;
      font-size: 1.25rem;
    }
  }
}
