%singleSelectCard {
  composes: card from "../Shared/Global.module.scss";
  cursor: pointer;

  &:hover {
    background-color: #eef;
  }

  &.selected {
    background-color: #bfb;
    background-image: url("../Icons/check_circle_outline-24px.svg");
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: top right;
    cursor: default;
  }
}

.answerCard {
  @extend %singleSelectCard;
}

.answerGroup {
  composes: card from "../Shared/Global.module.scss";
  padding: 1.5em;

  strong {
    margin: .5em;
  }
}

.continueContainer {
  text-align: right;
  margin: .5em;
}

.candidateScoreCard {
  @extend %singleSelectCard;

  .candidateName {
    font-size: 1.25em;
    text-align: center;
  }
}

.results {
  .backToRaces {
    text-align: center;
  }
}
