%singleSelectCard {
  composes: card from "../Shared/Global.module.scss";
  cursor: pointer;

  &:hover {
    background-color: #eef;
  }

  &.selected {
    background-color: #bfb;
    background-image: url("../Icons/check_circle_outline-24px.svg");
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: top right;
    cursor: default;
  }
}

.answerCard {
  @extend %singleSelectCard;
}

.answerGroup {
  composes: card from "../Shared/Global.module.scss";
  padding: 1.5em;

  strong {
    margin: .5em;
  }
}

.continueContainer {
  text-align: right;
  margin: .5em;
}

.candidateScoreCard {
  @extend %singleSelectCard;
  cursor: default;

  &:hover {
    background-color: #def;

    &.selected {
      background-color: #bfb;
    }
  }

  .candidateName {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;

    &:hover {
      color: #05f;
    }
  }

  .issue {
    padding: .5em 2.5em;
    border: solid black;
    border-width: thin 0 0 0;
    cursor: pointer;

    &:hover {
      background-color: #efe;
    }

    &.selected {
      background-image: url("../Icons/check_circle_outline-24px.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 2em;
    }

    .issueName {
      font-size: 1.25em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.results {
  .backToRaces {
    text-align: center;
  }
}
