%singleSelectCard {
  composes: card from "../Shared/Global.module.scss";
  cursor: pointer;

  &:hover {
    background-color: #eef;
  }

  &.selected {
    background-color: #bfb;
    background-image: url("../Icons/check_circle_outline-24px.svg");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: top right;
    cursor: default;
    padding-top: 2rem;
  }
}

.answerCard {
  @extend %singleSelectCard;
}

.answerGroup {
  composes: card from "../Shared/Global.module.scss";
  padding: 1rem;
}

.continueContainer {
  text-align: right;
  margin: .5rem;
}

.candidateScoreCard {
  @extend %singleSelectCard;
  cursor: default;

  &:hover {
    background-color: #def;

    &.selected {
      background-color: #bfb;
    }
  }

  button {
      display: block;
      background-color: inherit;
      margin: auto;
      border: none;
      font: inherit;
      padding: 0;
  }

  .candidateName {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      color: #05f;
    }
  }

  .issue {
    padding: .5rem 2.5rem;
    border: solid black;
    border-width: thin 0 0 0;
    cursor: pointer;

    &:hover {
      background-color: #efe;
    }

    &.selected {
      background-image: url("../Icons/check_circle_outline-24px.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 2rem;
    }

    .issueName {
      font-size: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    details {
      cursor: default;
      background-repeat: no-repeat;
      background-position: right -.25rem;
      background-size: 2rem;
      background-image: url("../Icons/keyboard_arrow_down-24px.svg");
      &[open] {
        background-image: url("../Icons/keyboard_arrow_up-24px.svg");
      }

      summary {
        cursor: pointer;
      }
    }
  }
}

.results {
  .backToRaces {
    text-align: center;
  }
}
