body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 1.5rem 1.5rem 4.5rem;
  max-width: 50rem;
  margin: 0 auto;
  background: #def;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #05f;

  &:disabled {
    color: #444;
    cursor: default;
  }
}
